logs
project/project
project/target
target
tmp
.history
dist
.target
.cache
bin
.classpath
.settings
*.swp
.project
.worksheet/
.idea/
.idea_modules
*.iml
/.cache-main
/.cache-tests
.java-version
charts/nsi-requester/config
/project/.bloop/
/project/metals.sbt
/.metals/
/.bsp/
/.bloop/
