.form .message.expanded .icon-plus-sign,
.form .message .icon-minus-sign {
    display: none;
}
.form .message .icon-plus-sign,
.form .message.expanded .icon-minus-sign {
    display: inline;
    position: absolute;
    left: 35px;
}
.message.extra-fields {
    cursor: pointer;
}
.template {
    display: none;
}
a i[class^="icon-"] {
    text-decoration: none;
}
.message .time {
    float: right;
    font-weight: normal;
    color: #DC322F;
    font-size: 0.8em;
}
