.form .message.expanded .icon-plus-sign,
.form .message .icon-minus-sign {
    display: none;
}
.form .message .icon-plus-sign,
.form .message.expanded .icon-minus-sign {
    display: inline;
    position: absolute;
    left: 35px;
}
.message.extra-fields {
    cursor: pointer;
}
.template, #responseS {
    display: none;
}
a i[class^="icon-"] {
    text-decoration: none;
}
.message .time {
    float: right;
    font-weight: normal;
    color: #DC322F;
    font-size: 0.8em;
}
.error {
  background-color: #ffffff;
  border: 1px solid #BFBFBF;
  padding-top: 1.5em;
}
.error > p {
  margin: 0 0 1em 3em;
}
.error > h3 {
  margin-left: 40px;
}
.error > pre {
  margin-left: 40px;
  padding: 0;
}
.error .message {
    padding: .4em 40px;
    margin-bottom: 1em;
    background-color: #CAE8F0;
}
.timezone {
  color: gray;
  font-size: 12px;
  float: right;
  margin-right: -25px;
}