@(formField: String => Field, showCollapse: Boolean = true)

@import helper._
@import views.helper.MyHelpers._

<div class="message@if(showCollapse){ extra-fields}">
    <h3>@if(showCollapse){<i class="icon-minus-sign"></i><i class="icon-plus-sign"></i> }Provider attributes</h3>
</div>

<fieldset @if(showCollapse){class="extra-fields"}>

    @input(formField("providerUrl"), '_label -> "Provider URL", 'class -> "input-xlarge", 'id -> "providerUrl") { (id, name, value, args) =>
        <input type="url" name="@name" id="@id" value="@value" pattern="https?://.+" required @toHtmlArgs(args) data-validate="@routes.Application.validateProvider">
    }

    @select(
        formField("nsiVersion"),
        options = Seq("1" -> "NSI version 1.0", "2" -> "NSI version 2.0"),
        '_help -> "",
        '_label -> "NSI Version",
        'class -> "input-xlarge")

    @inputText(formField("username"), '_label -> "Basic Auth Username", 'class -> "input-xlarge")

    @input(formField("password"), '_label -> "Basic Auth Password", 'class -> "input-xlarge") { (id,name, value, args) =>
        <input type="password" id="@id" name="@name" value="@value" @toHtmlArgs(args)>
    }

    @inputText(formField("accessToken"), '_label -> "OAuth2 Access Token", 'class -> "input-xlarge")

    <div id="valid-indicator">Checking...</div>
</fieldset>