@(title: String, activeMenu: String)(content: Html)(implicit flash: Flash)

@menuItems = @{List(
    ("reserve", routes.Application.reserveForm),
    ("provision", routes.Application.provisionForm),
    ("release", routes.Application.releaseForm),
    ("terminate", routes.Application.terminateForm),
    ("query", routes.Application.queryForm),
    ("response", routes.ResponseController.response)
)}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/prettify.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/application.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="@routes.Application.index">Home</a>
                <h1>NSI Requester client</h1>
            </header>
            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            @menuItems.map {
                                case (menu, href) => {
                                    <li @if(activeMenu == menu) {class="active"}>
                                        <a href="@href">@menu.capitalize</a>
                                    </li>
                                }
                            }
                        </ul>
                        <ul class="nav pull-right">
                            <li @if(activeMenu == "settings") {class="active"}>
                                <a href="@routes.Application.settingsForm">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @flash.get("success").map { message =>
                <div class="alert alert-success">
                    <button class="close" data-dismiss="alert">×</button>
                    @message
                </div>
            }
            @content
        </div>
        <script src="@routes.Assets.at("javascripts/prettify.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/application.js")" type="text/javascript"></script>
    </body>
</html>
