@(provisionForm: Form[Provision])(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest("Make a NSI Provision Request", "provision") {

    <section id="formS">
        <h1>Make a NSI Provision Request</h1>
        <div class="content">
            @form(action = routes.Application.provision, 'class -> "form form-horizontal") {

                <div class="message"><h3>Provision attributes</h3></div>
                @inputText(provisionForm("provision.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")

                @fragments.nsiCommonFields(name => provisionForm("provision." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Provision</button>
                </div>
            }
        </div>
    </section>
}
