@(provisionForm: Form[(Provider, Provision)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@main("Make a NSI Provision Request", "provision") {
    <section>
        <h1>Make a NSI Provision Request</h1>
        <div class="content">
             @helper.form(action = routes.Application.provision, 'class -> "form form-horizontal") {

                <div class="message"><h3>Provision</h3></div>
                @inputText(provisionForm("provision.connectionId"), '_label -> "Connection Id")

                @fragments.nsiCommonFields(name => provisionForm("provision." + name))
                @fragments.providerFields(name => provisionForm("provider." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Provision</button>
                </div>
            }
        </div>
    </section>
}
