@(queryMessageForm: Form[QueryMessage])(implicit context: views.Context)

@import context._
@import helper._
@import views.helper.MyHelpers._

@nsirequest(s"Make a NSI Query Notification/Result Request", "queryMessage") {

    <section id="formS">
        <h1>Make a NSI Query Notification/Result Request</h1>
        <div class="content">
             @form(action = routes.ApplicationController.queryMessage, 'class -> "form form-horizontal") {
                <div class="message"><h3>Query attributes</h3></div>

                @select(
                    queryMessageForm("queryMessage.operation"),
                    options = options(QueryMessageMode.values.map(_.toString).toList),
                    '_label -> "Operation",
                    '_showConstraints -> false
                )

                @inputText(queryMessageForm("queryMessage.connectionId"), 'class -> "input-xlarge", '_label -> "ConnectionId")
                @inputText(queryMessageForm("queryMessage.startId"), '_label -> "Start id", '_showConstraints -> false)
                @inputText(queryMessageForm("queryMessage.endId"), '_label -> "End id", '_showConstraints -> false)

                @fragments.nsiCommonFields(name => queryMessageForm("queryMessage." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Query</button>
                </div>
            }
        </div>

    </section>
}
