@(queryNotificationForm: Form[QueryNotification], provider: Provider)(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest(s"Make a NSI v${provider.nsiVersion} Query Notification Request", "queryNotification", provider.nsiVersion) {

    <section id="formS">
        <h1>Make a NSI v@provider.nsiVersion Query Notification Request</h1>
        <div class="content">
             @form(action = routes.Application.queryNotification, 'class -> "form form-horizontal") {
                <div class="message"><h3>Query Notification attributes</h3></div>

                @select(
                    queryNotificationForm("queryNotification.operation"),
                    options = options(List("Async", "Sync")),
                    '_label -> "Operation",
                    '_showConstraints -> false
                )

                @inputText(queryNotificationForm("queryNotification.connectionId"), 'class -> "input-xlarge", '_label -> "ConnectionId")
                @inputText(queryNotificationForm("queryNotification.startNotificationId"), '_label -> "Start id", '_showConstraints -> false)
                @inputText(queryNotificationForm("queryNotification.endNotificationId"), '_label -> "End id", '_showConstraints -> false)

                @fragments.nsiCommonFields(name => queryNotificationForm("queryNotification." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Query Notification</button>
                </div>
            }
        </div>

    </section>
}