@(releaseForm: Form[Release], provider: Provider)(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest(s"Make a NSI ${provider.nsiVersion} Release Request", "release", provider.nsiVersion) {

    <section id="formS">
        <h1>Make a NSI @provider.nsiVersion Release Request</h1>
        <div class="content">
             @form(action = routes.Application.release, 'class -> "form form-horizontal") {

                <div class="message"><h3>Release attributes</h3></div>
                @inputText(releaseForm("release.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")

                @fragments.nsiCommonFields(name => releaseForm("release." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Release</button>
                </div>
            }
        </div>
    </section>
}
