@(requestForm: Form[ReserveModify])(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest(s"Make a NSI Reserve Modify Request", "modify") {

    <section id="formS">
        <h1>Make a NSI Reserve Modify Request</h1>

        <div class="content">
            @form(action = routes.Application.reserveModify, 'class -> "form form-horizontal") {

                <div class="message"><h3>Reserve attributes <span class="timezone">Times in @java.util.TimeZone.getDefault.getDisplayName</span></h3></div>

                @inputText(requestForm("reservation.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.version"), '_label -> "Version")

                @helper.input(requestForm("reservation.startDate"), '_label -> "Start Date") { (id, name, value, args) =>
                    <input type="text" name="@name" id="@id" @toHtmlArgs(args)>
                    <span style="margin-left: 10px;">
                        <label class="checkbox inline">
                            <input id="reservation_startNow" name="reservation.startNow" type="checkbox" value="@{requestForm("reservation.startNow").value}" />
                            Now
                        </label>
                    </span>
                }

                @helper.input(requestForm("reservation.endDate"), '_label -> "End Date") { (id, name, value, args) =>
                    <input type="text" name="@name" id="@id" @toHtmlArgs(args)>
                    <span style="margin-left: 10px;">
                        <label class="checkbox inline">
                            <input id="reservation_indefiniteEnd" name="reservation.indefiniteEnd" type="checkbox" value="true" />
                            Indefinite
                        </label>
                    </span>
                }

                @inputText(requestForm("reservation.bandwidth"), '_label -> "Bandwidth")

                @fragments.nsiCommonFields(name => requestForm("reservation." + name))

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Modify</button>
                </div>
            }
        </div>
    </section>
    <script>
        $(function() {
            $("#reservation_startNow").on("change", function (ev) {
                if (ev.target.checked) {
                    $("#reservation_startDate").attr("disabled", "disabled");
                } else {
                    $("#reservation_startDate").removeAttr("disabled");
                }
            });
            $("#reservation_indefiniteEnd").on("change", function (ev) {
                if (ev.target.checked) {
                    $("#reservation_endDate").attr("disabled", "disabled");
                } else {
                    $("#reservation_endDate").removeAttr("disabled");
                }
            });
        });
    </script>
}
