@(reserveAbortForm: Form[ReserveAbort])(implicit context: views.Context)

@import context._
@import helper._
@import views.helper.MyHelpers.given

@nsirequest(s"Make a NSI ReserveAbort Request", "abort") {

    <section id="formS">
        <h1>Make a NSI ReserveAbort Request</h1>
        <div class="content">
             @form(action = routes.ApplicationController.reserveAbort, Symbol("class") -> "form form-horizontal") {

                <div class="message"><h3>ReserveAbort attributes</h3></div>
                @inputText(reserveAbortForm("reserveAbort.connectionId"), Symbol("_label") -> "Connection Id", Symbol("class") -> "input-xlarge")

                @fragments.nsiCommonFields(name => reserveAbortForm("reserveAbort." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">ReserveAbort</button>
                </div>
            }
        </div>
    </section>
}
