@(reserveCommitForm: Form[ReserveCommit], provider: Provider)(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest(s"Make a NSI ${provider.nsiVersion} ReserveCommit Request", "reserveCommit", provider.nsiVersion) {

    <section id="formS">
        <h1>Make a NSI @provider.nsiVersion ReserveCommit Request</h1>
        <div class="content">
             @form(action = routes.Application.reserveCommit, 'class -> "form form-horizontal") {

                <div class="message"><h3>ReserveCommit attributes</h3></div>
                @inputText(reserveCommitForm("reserveCommit.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")

                @fragments.nsiCommonFields(name => reserveCommitForm("reserveCommit." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">ReserveCommit</button>
                </div>
            }
        </div>
    </section>
}
