@(requestForm: Form[(Provider, Reservation)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@main("Make a NSI Reserve Request", "reserve") {
    <section>
        <h1>Make a NSI Reserve Request</h1>

        <div class="content">
            @helper.form(action = routes.Application.reserve, 'class -> "form form-horizontal") {

                <div class="message"><h3>Reserve attributes</h3></div>
                @inputText(requestForm("reservation.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.globalReservationId"), '_label -> "Global Reservation Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.description"), '_label -> "Description")
                @inputText(requestForm("reservation.startDate"), '_label -> "Start")

                @requestForm.error("reservation.end").map { error =>
                    <div class="alert alert-error">@error.message</div>
                }

                @inputText(requestForm("reservation.end.date"), '_label -> "End Date")
                @inputText(requestForm("reservation.end.period"), '_label -> "Period")

                @inputText(requestForm("reservation.source"), '_label -> "Source", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.destination"), '_label -> "Destination", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.bandwidth"), '_label -> "Bandwidth")

                @fragments.nsiCommonFields(name => requestForm("reservation." + name))
                @fragments.providerFields(name => requestForm("provider." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Request</button>
                </div>
            }
        </div>
    </section>
}
