@(requestForm: Form[(Provider, Reserve)])(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest("Make a NSI Reserve Request", "reserve") {

    <section id="formS">
        <h1>Make a NSI Reserve Request</h1>

        <div class="content">
            @form(action = routes.Application.reserve(2), 'class -> "form form-horizontal") {

                <div class="message"><h3>Reserve attributes <span class="timezone">Times in @java.util.TimeZone.getDefault.getDisplayName</span></h3></div>
                @inputText(requestForm("reservation.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.globalReservationId"), '_label -> "Global Reservation Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.description"), '_label -> "Description")
                @inputText(requestForm("reservation.startDate"), '_label -> "Start")

                @requestForm.error("reservation.end").map { error =>
                    <div class="alert alert-error">@error.message</div>
                }

                @inputText(requestForm("reservation.end.date"), '_label -> "End Date")
                @inputText(requestForm("reservation.end.period"), '_label -> "Period")

                @inputText(requestForm("reservation.source"), '_label -> "Source", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.destination"), '_label -> "Destination", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.bandwidth"), '_label -> "Bandwidth")
                @checkbox(requestForm("reservation.unprotected"), '_label -> "Unprotected path", '_showConstraints -> false)

                @fragments.nsiCommonFields(name => requestForm("reservation." + name))
                @fragments.providerFields(name => requestForm("provider." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" data-location="@routes.Application.reserve(1)">NSI v1 Reserve</button>
                    or
                    <button type="submit" class="btn btn-primary" data-location="@routes.Application.reserve(2)">NSI v2 Reserve</button>
                </div>
            }
        </div>
    </section>
}
