@(requestForm: Form[(Provider, Reservation)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@main("Make a NSI Reserve Request", "reserve") {
    <section>
        <h1>Make a NSI Reserve Request</h1>
        <div class="content">
            @helper.form(action = routes.Application.reserve, 'class -> "form form-horizontal") {

                <div class="message"><h3>Reservation</h3></div>
                @inputText(requestForm("reservation.description"), '_label -> "Description")
                @inputText(requestForm("reservation.startDate"), '_label -> "Start")
                @inputText(requestForm("reservation.endDate"), '_label -> "End")
                @inputText(requestForm("reservation.source"), '_label -> "Source")
                @inputText(requestForm("reservation.destination"), '_label -> "Destination")
                @inputText(requestForm("reservation.bandwidth"), '_label -> "Bandwidth")

                @inputText(requestForm("reservation.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")
                @inputText(requestForm("reservation.correlationId"), '_label -> "Correlation Id", 'class -> "input-xlarge")

                <div class="message extra-fields">
                    <h3><i class="icon-minus-sign"></i><i class="icon-plus-sign"></i> Provider fields</h3>
                </div>

                <fieldset class="extra-fields">
                    @inputText(requestForm("provider.providerUrl"), '_label -> "Provider URL", 'class -> "input-xlarge")
                    @inputText(requestForm("provider.replyToHost"), '_label -> "Reply to Host", 'class -> "input-xlarge")
                    @inputText(requestForm("provider.username"), '_label -> "Username", 'class -> "input-medium")
                    @inputText(requestForm("provider.password"), '_label -> "Password", 'class -> "input-medium")
                </fieldset>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Request</button>
                </div>
            }
        </div>
    </section>
    <script>
      $(function() {
          var extraFields = $("fieldset.extra-fields");

          $(".message").on('click', function(event) {
              extraFields.toggle();
              $(this).toggleClass('expanded');
          });

          extraFields.toggle();

      })
    </script>
}
