@(request: String, response: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@main("NSI Responses", "response") {
    <section>
        <h1>NSI Responses</h1>
        <div class="content">
            @xmlBlock("The Response", response)
            @xmlBlock("The Request", request)
        </div>
        <div id="template" style="display: none">
            @xmlBlock("Callback Response", "")
        </div>
    </section>
    <script>
      $(function() {
          var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
          var socket = new WS("ws://localhost:9000@routes.Application.wsRequest");

          socket.onmessage = function(event) {
              xmlBlock = $("#template > div").clone();
              xmlBlock.find(".prettyprint").text(event.data);
              xmlBlock.prependTo("section .content");
              prettyPrint();
          }
          socket.onopen = function(event) { console.log("socket is open"); }
          socket.onclose = function(event) { console.log("socket closed..") }
      })
    </script>
}

@xmlBlock(title: String, content: String) = {
    <div class="xml-content">
        <div class="message"><h3>@title</h3></div>
        <pre class="prettyprint">@content</pre>
    </div>
}
