@(request: Option[String], response: Option[String])(implicit httpRequest: Request[AnyContent], flash: Flash)

@import helper._

@main("NSI Responses", "response") {
    <section>
        <h1>NSI Responses <span>(# of Async <span id="numberOfResponses">0</span>)</span></h1>
        <div class="content">
            @response.map(response => xmlBlock("The Response", response))
            @request.map(request => xmlBlock("The Request", request))
        </div>
        <div id="template" class="template">
            @xmlBlock("Callback Response", "")
        </div>
    </section>

    <script>
      $(function() {
          var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
          var socket = new WS("ws://@{httpRequest.host + routes.ResponseController.wsRequest}");

          var appendTime = function(xmlBlock) {
            var now = new Date();
            var minutes = now.getMinutes() < 10 ? "0" + now.getMinutes() : now.getMinutes();
            var seconds = now.getSeconds() < 10 ? "0" + now.getSeconds() : now.getSeconds();
            var nowString = now.getHours() + ':' + minutes + ':' + seconds;
            xmlBlock.find("h3").append($("<span/>", {"class": "time", text: nowString}));
          }

          socket.onmessage = function(event) {
            xmlBlock = $("#template > div").clone();
            xmlBlock.find(".prettyprint").text(event.data);
            appendTime(xmlBlock);
            xmlBlock.prependTo("section .content");
            prettyPrint();
            var number = $("#numberOfResponses");
            number.text(parseInt(number.text()) + 1);
          }
          socket.onopen = function(event) { console.log("socket is open"); }
          socket.onclose = function(event) { console.log("socket closed..") }

          appendTime($(".content > .xml-content"))
      })
    </script>
}

@xmlBlock(title: String, content: String) = {
    <div class="xml-content">
        <div class="message"><h3>@title</h3></div>
        <pre class="prettyprint">@content</pre>
    </div>
}
