@(request: String, response: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2FieldConstructor.f) }

@main("Do a NSI Reserve Request", "response") {
    <section>
        <h1>The NSI Response, waiting for confirm or fail</h1>
        <div class="content">
            <h3>Other responses</h3>
            <div id="responses">
            </div>
            <h3>The response</h3>
            <pre class="prettyprint">@response</pre>
            <h3>The Request</h3>
            <pre class="prettyprint">@request</pre>
        </div>
    </section>
    <script>
      $(function() {
          var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
          var socket = new WS("ws://localhost:9000@routes.Application.wsRequest");

          socket.onmessage = function(event) {
              $("#responses").append($("<pre/>", {text: event.data, 'class': 'prettyprint'}));
              prettyPrint();
          }
          socket.onopen = function(event) { console.log("socket is open"); }
          socket.onclose = function(event) { console.log("socket closed..") }
      })
    </script>
}
