@(settingsF: Form[EndPoint], version: String)(implicit context: views.Context, requesterSession: RequesterSession)

@import context._
@import helper._
@import views.helper.MyHelpers.given

@main("Settings for this session", "settings") {
    <section>
        <h1>Settings for this Session</h1>

        <div class="content">

            @form(action = routes.SettingsController.settings, Symbol("class") -> "form form-horizontal") {
                <div class="message">
                    <h3>Provider attributes</h3>
                </div>

                @select(
                   settingsF("provider.id"),
                   options = options(requesterSession.allProviders.map(_.nsaId).toList),
                   Symbol("_label") -> "Provider",
                   Symbol("_showConstraints") -> false,
                   Symbol("class") -> "input-xlarge",
                   Symbol("data-validate-url") -> routes.ApplicationController.validateProvider
                )

                <fieldset id="tokens" style="position: relative">
                  <a href="#" id="plus-token" style="float: right; position: absolute; left: 510px; top: 5px;"><i class="icon-plus-sign"></i></a>
                  @repeat(settingsF("accessTokens"), min = 1) { tokenField =>
                    @inputText(tokenField, Symbol("_label") -> "Access Token", Symbol("class") -> "input-xlarge")
                  }
                </fieldset>


                <div id="valid-indicator">Checking...</div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Use settings</button>
                </div>

                <div class="message">
                    <h3>About</h3>
                </div>
                <div class="control-group">
                  <label class="control-label"><strong>Version</strong></label>
                  <div class="controls"><output style="color: gray">@version</output></div>
                </div>
            }
        </div>
        <div id="template-token" class="template">
          @inputText(settingsF("accessTokens[x]"), Symbol("_label") -> "Access Token", Symbol("class") -> "input-xlarge")
        </div>
    </section>
    <script>
    $(function() {
      $("#plus-token").click(function(event) {
        $("#template-token").children().clone().appendTo("#tokens");
        reNumber($("#tokens input"));
    });


    function reNumber(elements) {
      elements.each(function(i, input) {
        var target = $(input);
        target.attr('name', target.attr('name').replace(/\[.+\]/, '['+i+']'))
      });
     }
    });
    </script>
}
