@(settingsF: Form[EndPoint])(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@main("Settings for this session", "settings") {
    <section>
        <h1>Settings for this Session</h1>

        <div class="content">

            @form(action = routes.SettingsController.settings, 'class -> "form form-horizontal") {
                <div class="message">
                    <h3>Provider attributes</h3>
                </div>

                @select(
                   settingsF("provider.id"),
                   options = options(Configuration.allProviders.map(_.nsaId).toList),
                   '_label -> "Provider",
                   '_showConstraints -> false,
                   'class -> "input-xxlarge",
                   Symbol("data-validate-url") -> routes.Application.validateProvider
                )

                @inputText(settingsF("accessToken"), '_label -> "Oauth2 Access Token", 'class -> "input-xlarge")

                <div id="valid-indicator">Checking...</div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Use settings</button>
                </div>
            }
        </div>
    </section>
}
