@(terminateForm: Form[Terminate], provider: Provider)(implicit flash: Flash)

@import helper._
@import views.helper.MyHelpers._

@nsirequest("Make a NSI Terminate Request", "terminate") {

    <section id="formS">
        <h1>Make a NSI v@provider.nsiVersion Terminate Request</h1>
        <div class="content">
             @form(action = routes.Application.terminate, 'class -> "form form-horizontal") {

                <div class="message"><h3>Terminate attributes</h3></div>

                @inputText(terminateForm("terminate.connectionId"), '_label -> "Connection Id", 'class -> "input-xlarge")

                @fragments.nsiCommonFields(name => terminateForm("terminate." + name))

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Terminate</button>
                </div>
            }
        </div>
    </section>
}
